@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

/* above was nextjs default for study purpose */

/* from here customizing myself */

@theme {
  /* --color-primary: #4B0082; */
  /* --color-secondary: #000000; */

  --color-main: #bfff00;
          
        /* primary: {
          50: '#f0f9ff',
          100: '#e0f2fe',
          500: '#bfff00', 
          900: '#1e3a8a',
        },
                secondary: {
          50: '#f5f3ff',
          500: '#8b5cf6',
          900: '#4c1d95',
        }, */
}

/* custom CSS */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide{
  scrollbar-width: none;
}

